body {
	margin: 0;
}

#header a{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 1em;
}

#cardcont {
	display: block;
	height: calc(100vh - 8em);
	overflow-y:auto;
}

#cardsTable{
	margin-top: 1em;	
}

#cards{
	margin-top: -1px;
}

.table td{	
	border: 1px solid black;
	text-align: center;
	padding: 0.2em;
	height: 1em;
}

.table{
	margin: 0 auto;
	border-collapse: collapse;
}

.table input{
	width:80%;
	height: 90%;
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	-moz-appearance:textfield;
	border: none;
}

.header{
	background-color: rgba(0,128,0,0.2);
}

.cardId{
	width: 14em;
	min-width: 14em;
	max-width: 14em;
}

.date{
	width: 10em;
	min-width: 10em;
	max-width: 10em;
}

.username{
	width: 10em;
	min-width: 10em;
	max-width: 10em;
}

.department{
	width: 10em;
	min-width: 10em;
	max-width: 10em;
}

.address{
	width: 10em;
	min-width: 10em;
	max-width: 10em;
}

.row{
	height: 2em;
}

.row:hover{
	cursor: pointer;
}

