:root {
	--paper-size: 23em;
}

body {
	margin: 0;
	height: 100vh;
}

#header a{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 1em;
}

#buttonsBlock {
	position: absolute;
	top: 4.5em;
	left: 3.7em;
}

.menuButtons {
	margin-bottom:1em;
	width: 2.5em;
	height: 2.5em;
	min-height: 1em;
	min-width: 1em;
}

#printButton{
	background: url(../img/print.png) no-repeat;
	background-size: auto 100%;
}

#clearButton{
	background: url(../img/clear.png) no-repeat;
	background-size: auto 100%;
}

#printButton:hover, #clearButton:hover {
	border-radius: 0.5em;
	background-color: rgba(100,100,100,0.2);	
}


#cardcont {
	display: block;
	padding: 2em 0 2em; 
	height: calc(100vh - 8em);
	overflow-y:auto;
}

#card {
	margin: 0 auto;
	background: #fff;
	width: 40em;
	box-shadow: 0em 0em 1.5em;
	text-align: left;
	padding: 1em 2em 1em;
	line-height: 1.5em;
}

#title{
	text-align: center;
	font-weight: bold;
}

.tables {
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

.tables input[type=number], input[type=text], select{
	width:95%;
	height: 80%;
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	-moz-appearance:textfield;
	border: none;
}

.header_inputs{
	background: rgba(255,0,0,0.2);
	padding: 0.1em 0;
	outline: none;
}

.tab_article_input{
	visibility: hidden;
}

.lmLabel{
	position: absolute;
	width: 100%; 
	height: 50%;
	left: 0;
	top: 25%;
	text-align: center;
	font-size: 1em;
}

.skuLabel{
	position: absolute;
	width: 100%; 
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 0.6em;
	color: transparent;
}

.barcode {
	position: absolute;
	border: 0px solid orange;
	width: 100%;
	height: 90%;
	top: 2px;
	left: 0;
}

.clearButton{
	position: absolute;
	top: 35%;
	left: 110%;
	width: 1em;
	height: 1em;
	background: url(../img/clearButton.png) no-repeat;
	background-size: auto 100%;
	display: none;
}

#head_table{
	border: 1px solid black;
}

#head_table tr{
	border-bottom: 1px solid black;
	font-size: 1em;
	text-align: left;
	height: 1.8em;
}

#head_table td{
	padding-left: 5px;
}

.head_table_sep{
	border-left: 1px solid black;
}

#pageNumber1{
	text-align: center;
}

.tablescont2 td{
	border: 1px solid black;
	font-size: 0.8em;
	height: 3.7em;
	text-align:center;
	position: relative;
	padding: 0.1em;
}
.tablescontHeader{
	display: table-tr;
}

.tablescont2Header{
	display:none;
}

.pageCount{
	display: none;
}

.pos{
	width:0.8cm;
}
.sku{
	width:3.7cm;
}
.lm{
	width:2.4cm;
}
.name{
	width:5.9cm;
}
.kol{
	width:1.6cm;
}
.type{
	width:1.6cm;
}

.selectors{
	width:80%;
	border: none;
	font-size: 1em;
	text-align: center;
	background-color: transparent;
	margin-top: calc(0.9em - 0.5em);
	outline: none;
	text-align-last:center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}


#errorCont{
	position: absolute;
	left: 0;
	top:100%;
	width: 100%;
	height:1.5em;
	margin-top: -1.5em;
	background-color: transparent;
}

#otdelCont{
	padding: 0.1em 0;
}

#otdels_select{
	width:6em;
	border: none;
	font-size: 1em;
	background-color: transparent;
	outline: none;
	text-align-last:center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding:0 1.5em 0 2.5em;	
}


@media print{

	#cardcont {
		display: block;
		margin-top: -1cm;
		height: auto;
	}
	
	.pageCount{
		display: block;
		page-break-before: always;
		border: 1px solid black;
		margin-top: 0.5cm;
	}
	
	.address{
		width:2cm;
		text-align: center;
	}
	.addressVal{
		width:10cm;
		padding-left:1cm;
		text-align: left;
	}
	.page{
		width:2cm;
		text-align: left;
	}
	.pageVal{
		width:2cm;
		text-align: center;
	}

	.pos{
		width:0.8cm;
	}
	.sku{
		width:3.7cm;
	}
	.lm{
		width:2.4cm;
	}
	.name{
		width:5.9cm;
	}
	.kol{
		width:1.6cm;
	}
	.type{
		width:1.6cm;
	}
	
	#card {
		margin: 0 auto;
		background: #fff;
		width: 40em;
		text-align: left;
		line-height: 1.5em;
		box-shadow: 0em 0em 0em;
	}
	
	.tablescont2{
		display:block;
		width: 16cm;
		page-break-inside: avoid;
		margin-top: -1px;
	}
	
	.tablescontHeader{
		display: block;
	}
	
	.tablescont2Header{
		display:block;
		width: 16cm;
		page-break-inside: avoid;
	}
	
	@page {
		size: auto;
		margin:0;
	}


}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

